.h4 {
  margin-bottom: 0;
}



.style-8::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f9f9f94a;
	border-radius: 10px;
}

.style-8::-webkit-scrollbar
{
	width: 5px;
	background-color: #f9f9f94a;
}

.style-8::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #efefef),
									   color-stop(0.72, #ffffff),
									   color-stop(0.86, #ededee));
}
.brand-link
{
    /* height: 120;
    position: fixed;
    width: 250px;
    z-index: 1111;
   text-align: center;
   background: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788); */
text-align: center;
}
.brand-link img{
    width: 70%;
    max-width: 100%;
    
}
.navbar-light .navbar-nav .nav-link{
    color: #000000;
}
.req-main{
    border-left: solid 3px #0e5db1;
}

/* .req-main i{
    color:#0e5db1 ;
} */

.card-primary:not(.card-outline) .card-header{
    background-color: #0e5db1;
    
}




#dynamicTable th{
    background-color: #e6f2ff;
}

.first-row-cs::after
{
    
        height: 1px;
        display: block;
        width: 100%;
        background: #e2e2e2;
        
        content: '';
        margin: 10px auto;
    
}

/* span select bootstrap  */


.select2-container--bootstrap4{
    border-color:#ced4da;
    border-radius: 0  !important;
}
 .select2-selection{
    border-color:#ced4da;
    border-radius: 0  !important;
 }

 .select2-container--bootstrap4 .select2-selection--single{
     height: 45px !important ;
 }
 .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    font-size: 16px;
}



  /* ----------adhar input style-------*/

  @media (min-width:769px) and (max-width:1920px){
    .adharinput{
        position: absolute;
        left: 17%;
        top: 55%;
    }
    .profile-row{
        position: relative;
    }
  }

  .dateaddbox{
    padding: 20px 20px 10px;
    border: solid 1px #ccc;
    margin: 20px;
  }
  .datebox-title{
    padding: 0 20px 0;
      }

  
      #reminderbox{
        display: none;
          }
        
    /* .btn {
      margin: 0 10px;
      border-radius: 0;
    }     */
    .form-control{
      border-radius: 0;
    }

    /* .content-wrapper{
      background-color: #fff;
    } */

    .input-group-text{
      border-radius: 0;
      background-color: #c1c1c1;
      color: #fff;
    }


/* 
    .btn.btn-default.back{
      padding: 5px 20px;
  background-color: #dea700;
  border:none;
    } */


    .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-purple .select2-selection--multiple .select2-selection__choice, .select2-purple .select2-container--default .select2-selection--multiple .select2-selection__choice,.select2-container--default .select2-purple .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-purple .select2-results__option--highlighted[aria-selected]:hover {
      background: -webkit-gradient(linear, left top, right top, from(#0e6b3b), to(#009649)) !important;
      background: linear-gradient(to right, #0e6b3b, #009649) !important;
      color: #ffffff;
      font-weight: 500;
      
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{

    color: #ffffff;  
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    border-color: #ebedf2;
 
  }

  .select2-purple .select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: #ebedf2;
  }

  .select2-container--default .select2-selection--multiple{
    border-color: #ebedf2 !important;
  }

  .file-upload-list{
    padding: 0 20px;
  }
#navbarDropdown{
    position: fixed !important;
    top:10px;
    right: 0;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    position: fixed;
    right: 0;
    top: 40px;
  } 




  /* dashboard style */
  .bg-Open{

    background-color: #3c8dbc;
  }

  .bg-In{
    background-color: #f39c12;
  }

  .bg-Rejected{
    background-color:#f56954;
  }
  .bg-Completed{
background-color: #00c0ef;
  }

  .nav-item.dropdown{
    position: relative;
  }

  .alert.alert-danger{
    width: 100%;
  }

.request-form.card.card-default{
    background-color: #d87500;
    color: #fff;
  }
  
  .uploaded-file-btn .fa-download{
    padding:0 10px;
    color: #00BCD4;
    font-size: 15px;
  }
  .uploaded-file-btn .fa-trash-alt{
    padding: 0 2px;
    color: #ff0000;
    font-size: 15px;
    cursor: pointer;
  }
  .no-filetext{
    display: none;
  }
.avatar-upload .avatar-preview {
	padding: 0% !important;
    height: 150px;
}